<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Planilla <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/planillas">Planillas</a></li>
            <li class="breadcrumb-item active"><a >Planilla</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title position-relative">
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="fecha_inicio">Del:</label>
                    <input type="date" name="fecha_inicio" [(ngModel)]="planilla.fecha_inicio" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label for="fecha_fin">Al:</label>
                    <input type="date" name="fecha_fin" [(ngModel)]="planilla.fecha_fin" class="form-control">
                </div>
                <div class="form-group col-md-5">
                    <label>Nota:</label>
                    <input type="text" name="nota" [(ngModel)]="planilla.nota" class="form-control">
                </div>
            </div>
            <div class="btn-option">
                <a target="_blank" *ngIf="planilla.id" tooltip="Generar PDF (F8)" (click)="pdfPlanilla()" class="btn btn-default tcla-F8">
                    Planilla <i class="fa fa-print"></i>
                </a>
                <a target="_blank" *ngIf="planilla.id" tooltip="Generar PDF (F7)" (click)="pdfBoletas()" class="btn btn-default tcla-F7">
                    Boletas <i class="fa fa-print"></i>
                </a>
            </div>
        </div>

        <h5 class="text-center my-2">Empleados: </h5>
        <app-planilla-detalles [loading]="loading" [planilla]="planilla" (update)="updatePlanilla($event)"></app-planilla-detalles>

    </div>
    <div class="card-footer">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary tcla-F9 float-right">
            <span *ngIf="!loading">Guardar <small>(F9)</small></span>
            <span *ngIf="loading">Guardando...</span>
        </button>
    </div>
</div>
