<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-body text-center">
                <div class="col-12">
                    <h3>Libro de IVA</h3>
                    <p>Historial de ventas</p>
                    <form name="form" (ngSubmit)="loadAll()" class="form-inline justify-content-center">
                        <div class="form-group">
                            <label for="">Del:</label>
                            <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <label for="">Al:</label>
                            <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loading">
                            <i *ngIf="!loading" class="fa fa-search"></i>
                            <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                        </button>
                        <app-descargar-excel *ngIf="ivas?.length > 0" [nombre]="'Libro de Compras'"></app-descargar-excel>
                    </form>
                </div>
            </div>
        </div>
        <div class="table-responsive bg-white">
            <table class="table table-bordered table-hover mr-top" id="tablaReporte">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs">Fecha</th>
                        <th>Correlativo</th>
                        <th>Cliente</th>
                        <th class="text-center">Registro</th>
                        <th class="text-center">Internos</th>
                        <th class="text-center">Iva</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="9" class="text-center" *ngIf="ivas?.length < 1 && !loading">
                            <span class="badge badge-info">No tiene ivas registrados</span>
                        </td>
                        <td colspan="9" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr class="animated fadeIn" *ngFor=" let iva of ivas">
                        <td class="text-center hidden-xs">{{iva.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{iva.correlativo}}</td>
                        <td>{{iva.cliente}}</td>
                        <td class="text-center">{{iva.registro}}</td>
                        <td class="text-center">{{iva.interno | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{iva.iva | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">{{iva.total | currency:'USD':'symbol':'1.2'}}</td>

                    </tr>
                    <tr>
                        <td colspan="4" class="text-center"><b>Total</b></td>                                
                        <td class="text-center"><b>{{ ivas | sum:'interno' | currency:'USD':'symbol':'1.2' }}</b></td>
                        <td class="text-center"><b>{{ ivas | sum:'iva' | currency:'USD':'symbol':'1.2' }}</b></td>

                        <td class="text-center"><b>{{ ivas | sum:'total' | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tbody>
                <tfoot *ngIf="ivas?.length > 10">
                    <tr>
                        <th class="text-center hidden-xs">Fecha</th>
                        <th>Correlativo</th>
                        <th>Cliente</th>
                        <th class="text-center">Registro</th>
                        <th class="text-center">Internos</th>
                        <th class="text-center">Iva</th>
                        <th class="text-center">Fovial</th>
                        <th class="text-center">Cotrans</th>
                        <th class="text-center">Total</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>
