<div class="row">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="text-muted mb-3">N° Ventas</h5>
                            </div>
                            <div class="col-auto">
                                <h3>{{ dash?.total_ordenes }}</h3>
                            </div>
                        </div>
                        <div>
                            <span [ngClass]="{ 'text-danger' : dash?.total_ordenes_percent < 0, 'text-primary' : dash?.total_ordenes_percent >= 0 }">
                                <i class="mdi mdi-arrow-up-bold"></i>
                                {{ dash?.total_ordenes_percent }}% 
                             </span>
                            <p>desde ayer</p>
                        </div>
                    </div>
                    <div class="chart-wrapper">
                        <div id="ordenes" class="home_chart_widget chart-one"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="text-muted mb-3">Total Ventas</h5>
                            </div>
                            <div class="col-auto">
                                <h3>{{ dash?.total_ventas | currency:'USD':'symbol':'1.2' }}</h3>
                            </div>
                        </div>
                        <div>
                            <span [ngClass]="{ 'text-danger' : dash?.total_ventas_percent < 0, 'text-primary' : dash?.total_ventas_percent >= 0 }"><i class="mdi mdi-arrow-down-bold"></i>
                                {{ dash?.total_ventas_percent }}% 
                            </span>
                            <p>desde ayer</p>
                        </div>
                    </div>
                    <div class="chart-wrapper">
                        <div id="ventas" class="home_chart_widget chart-two"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="text-muted mb-3">Compras</h5>
                            </div>
                            <div class="col-auto">
                                <h3>{{ dash?.total_compras | currency:'USD':'symbol':'1.2' }}</h3>
                            </div>
                        </div>
                        <div>
                            <span [ngClass]="{ 'text-danger' : dash?.total_compras_percent < 0, 'text-primary' : dash?.total_compras_percent >= 0 }"><i class="mdi mdi-arrow-down-bold"></i>
                                {{ dash?.total_compras_percent }}% 
                            </span>
                            <p>desde ayer</p>
                        </div>
                    </div>
                    <div class="chart-wrapper">
                        <div id="compras" class="home_chart_widget chart-three"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <h5 class="text-muted mb-3">Utilidad</h5>
                            </div>
                            <div class="col-auto">
                                <h3>{{ dash?.total_utilidad | currency:'USD':'symbol':'1.2' }}</h3>
                            </div>
                        </div>
                        <div>
                            <span [ngClass]="{ 'text-danger' : dash?.total_utilidad_percent < 0, 'text-primary' : dash?.total_utilidad_percent >= 0 }">
                                <i class="mdi mdi-arrow-up-bold"></i>
                                {{ dash?.total_utilidad_percent }}% 
                             </span>
                            <p>desde ayer</p>
                        </div>
                    </div>
                    <div class="chart-wrapper">
                        <div id="utilidad" class="home_chart_widget chart-four"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">Earnings</h5>
                <div class="chart-container d-flex align-items-center" style="height: 300px;">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
    
    
</div>
