<div class="row">
  <div class="col-6 col-md-3 mb-3" *ngFor="let imagen of producto.imagenes; let i = index">
      <figure class="position-relative img-fluid img-thumbnail" style="height: 200px; background-size: cover; background-position: center; background-image: url({{ apiService.baseUrl + '/img/' + imagen.img }});">
            <a class="position-absolute fixed-bottom btn btn-sm btn-danger text-white" (click)="delete(imagen)" tooltip="Eliminar">
                <i class="fa fa-trash"></i>
            </a>
      </figure>
  </div>
  
  <div class="col-6 col-md-3 mb-3">
      <figure class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar" style="min-height: 200px;">
          <i class="fa fa-image fa-2x text-muted"></i>
          <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
      </figure>
  </div>
  

</div>
