<a class="btn btn-default"  (click)="openModalAjuste(majuste)" tooltip="Ajustar stock en inventario">
    <i class="fa fa-inbox"></i>
</a>

<ng-template #majuste>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
        <div class="row text-center">

            <div class="form-group col-xs-12">
                <label for="stock_inicial">Stock Actual:</label>
                <p> {{ ajuste.stock_inicial}}</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="stock_final">Stock Real:</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control text-center" [(ngModel)]="ajuste.stock_final" name="stock_final" focus="true">
            </div>
            
            <div class="form-group col-xs-12">
                <label for="ajuste">Ajuste:</label>
                <p *ngIf="ajuste.stock_final"> {{ ajuste.stock_final - ajuste.stock_inicial }}</p>
                <p *ngIf="!ajuste.stock_final"> 0</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="ajuste.nota" name="nota" placeholder="Nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_final">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>