<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                    <!-- <app-planilla-servicios (servicioSelect)="servicioSelect($event)"></app-planilla-servicios> -->
                <th rowspan="2" class="text-center align-middle">N°</th>
                <th rowspan="2" class="align-middle">Empleado</th>
                <th rowspan="2" class="text-center align-middle">Dias</th>
                <th rowspan="2" class="text-center align-middle">Horas</th>
                <th rowspan="2" class="text-center align-middle">Horas <br> Extras</th>
                <th colspan="3" class="text-center align-middle">Ingresos</th>
                <th colspan="3" class="text-center align-middle">Descuentos</th>
                <th rowspan="2" class="text-center align-middle">Total</th>
            </tr>
            <tr>
                <th class="text-center align-middle">Sueldo</th>
                <th class="text-center align-middle">Extras</th>
                <th class="text-center align-middle">Otros</th>
                <th class="text-center align-middle">Renta</th>
                <th class="text-center align-middle">ISSS</th>
                <th class="text-center align-middle">AFP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="12" class="text-center" *ngIf="planilla.detalles?.length < 1 && !loading">
                    <span class="label label-info">No tiene detalles agregados</span>
                    <p>
                        <button [disabled]="loading" class="btn btn-link" (click)="generarPlanilla()">Agregar todos los empleados</button>
                        <button class="btn btn-link" (click)="openModal(mdetalle, {})">Agregar un empleado</button>
                    </p>
                </td>
                <td colspan="12" class="text-center" *ngIf="loading">
                    <span class="label label-info">Cargando...</span>
                </td>
            </tr>
            <tr *ngFor="let detalle of planilla.detalles">
                <td style="width: 100px;" class="text-center">
                    <a class="btn btn-sm btn-danger" (click)="eliminarDetalle(detalle)">
                      <i class="fa fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-default" (click)="openModal(mdetalle, detalle)">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                </td>
                <td> {{ detalle.nombre_empleado }} </td>
                <td class="text-center">{{ detalle.dias }}</td>
                <td class="text-center">{{ detalle.horas }}</td>
                <td class="text-center">{{ detalle.horas_extras }}</td>
                <td class="text-center">{{ detalle.sueldo | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.extras | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.otros | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.renta | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.isss | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.afp | currency:'USD':'symbol':'2.2' }}</td>
                <td class="text-center">{{ detalle.total | currency:'USD':'symbol':'2.2' }}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right"><b>Totales:</b></td>
                <td class="text-center"><b>{{ planilla?.sueldo | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.extras | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.otros | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.renta | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.isss | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.afp | currency:'USD':'symbol':'2.2' }}</b></td>
                <td class="text-center"><b>{{ planilla?.total | currency:'USD':'symbol':'2.2' }}</b></td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #mdetalle>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Detalle</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="empleado_id">Empleado:</label>
                <select [(ngModel)]="detalle.empleado_id" class="form-control form-select" name="detalle.empleado_id">
                    <option *ngFor="let usuario of empleados.data" [value]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="dias">Dias trabajados:</label>
                <input type="number" class="form-control" name="dias" [(ngModel)]="detalle.dias">
            </div>
            <div class="form-group col-sm-4">
                <label for="horas">Horas:</label>
                <input type="number" class="form-control" name="horas" [(ngModel)]="detalle.horas">
            </div>
            <div class="form-group col-sm-4">
                <label for="horas_extras">Horas extras:</label>
                <input type="number" class="form-control" name="horas_extras" [(ngModel)]="detalle.horas_extras">
            </div>
            <div class="form-group col-sm-4">
                <label for="sueldo">Sueldo:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="sueldo" [(ngModel)]="detalle.sueldo">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="extras">Extras:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="extras" [(ngModel)]="detalle.extras">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="otros">Otros:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="otros" [(ngModel)]="detalle.otros">
                </div>
            </div>

            <div class="form-group col-sm-4">
                <label for="renta">Renta:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="renta" [(ngModel)]="detalle.renta">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="afp">AFP:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="afp" [(ngModel)]="detalle.afp">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label for="isss">ISSS:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="isss" [(ngModel)]="detalle.isss">
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
        </form>
  </div>
</ng-template>
