<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5>Pedidos Recientes</h5>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped table-bordered mb-0">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="dash?.ordenes?.length < 1 && !loading">
                            <span class="label label-info">No tiene ordenes pendientes</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="label label-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let orden of dash?.ordenes">
                        <td>{{ orden.cliente_nombre }}</td>
                        <td>{{ orden.estado }}</td>
                        <td>{{ orden.total | currency:'USD':'symbol':'2.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-secondary" routerLink="/orden/{{orden.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <div class="row">
    

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order List</h4>
                <div class="table-responsive">
                    <table class="table table-responsive-lg mb-0">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Order Name</th>
                                <th scope="col">Custommer Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Delivery time</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>54565</td>
                                <td>Fresh Crostini</td>
                                <td>Adam Smith</td>
                                <td>Gulshan</td>
                                <td>10:20</td>
                                <td>5</td>
                                <td>$34</td>
                                <td><span class="badge badge-xs badge-primary">Pending</span>
                                </td>
                                <td>
                                    <span>
                                        <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil text-muted"></i> </a>
                                        <a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"><i class="fa fa-close text-danger"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->