<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Comisiones <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Comisiones</a></li>
        </ol>
    </div>
</div>

<div class="card">

    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="comisiones?.total">
            {{ comisiones?.total + ' registros' }}
            <span *ngIf="filtrado">{{ comisiones?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <form name="form"  autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" >
            <div class="input-group-btn">
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
                <app-comision [comision]="{}" (loadAll)="loadAll()"></app-comision>
            </div>
        </div>
        </form>

    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th>Tipo</th>
                        <th>Concepto</th>
                        <th>Estado</th>
                        <th>Nota</th>
                        <th>Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="comisiones?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene comisiones registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let comision of comisiones?.data">
                        
                        <td>{{comision.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{comision.nombre_empleado | truncate:'30'}}</td>
                        <td>{{comision.tipo}}</td>
                        <td>{{comision.concepto}}</td>
                        <td>
                            <span class="badge click" [ngClass]="{'badge-info' : comision?.estado == 'Aprobada', 'badge-warning' : comision?.estado == 'Pendiente', 'badge-success' : comision?.estado == 'Pagada'}"  [popover]="popTemplate" [outsideClick]="true">
                                {{comision.estado}}
                            </span>
                            <ng-template #popTemplate>
                                <button class="btn btn-warning btn-xs" (click)="setEstado(comision, 'Pendiente')">Pendiente</button>
                                <button class="btn btn-info btn-xs" (click)="setEstado(comision, 'Aprobada')">Aprobada</button>
                                <button class="btn btn-success btn-xs" (click)="setEstado(comision, 'Pagada')">Pagada</button>
                            </ng-template>
                        </td>
                        <td>{{comision.nota}}</td>
                        <td class="text-center">{{comision.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(comision.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <app-comision [comision]="comision" (loadAll)="loadAll()"></app-comision>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="comisiones?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="comisiones" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-md-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-md-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-md-12">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-select" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Venta">Venta</option>
                    <option value="Bono">Bono</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Aprobada">Aprobada</option>
                    <option value="Pagada">Pagada</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
