<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Fecha: <small class="text-muted p-2">
                <input type="date" name="fecha" [(ngModel)]="venta.fecha" class="border-0">
        </small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
            <li class="breadcrumb-item"><a>Venta</a></li>
        </ol>
    </div>
</div>

<section class="card">
    <div class="card-body" style="min-height: 450px;">

        <div class="row">
            <div class="col-md-10">
                <div class="btn-group">
                    <app-venta-ordenes></app-venta-ordenes>
                    <app-tienda-venta-producto (productoSelect)="productoSelect($event)"></app-tienda-venta-producto>
                    <app-codigo-barra (productoSelect)="productoSelect($event)"></app-codigo-barra>
                    <app-venta-cliente-tienda [cliente]="venta.cliente" (clienteSelect)="clienteSelect($event)"></app-venta-cliente-tienda>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="text-right no-margin no-padding">
                    <span class="badge badge-primary">Total: {{ venta.total | currency:'USD':'symbol':'1.2'}}</span>
                </h3>
            </div>
        </div>

        <app-venta-detalles [venta]="venta" (update)="updateVenta($event)" (sumTotal)="sumTotal()"></app-venta-detalles>

    </div>

    <div class="card-footer" *ngIf="!loading && venta.estado == 'Pendiente' || !venta.id">
        <div class="row">
            <div class="col-md-7">
                <!-- <a  routerLink="/admin/caja/1" class="btn btn-default" tooltip="Cambiar correlativos">
                    <i class="fa fa-cog"></i>
                </a> -->
                <!-- <app-venta-combo (productoSelect)="productoSelect($event, 'Grupo')"></app-venta-combo> -->
                <!-- <app-venta-recargas (productoSelect)="productoSelect($event)"></app-venta-recargas> -->
            </div>
            <div class="col-md-5">
                <button type="submit" (click)="openModalFacturar(mfacturar)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-primary float-end tcla-F10" style="margin-left: 15px;">
                    <i class="fa fa-money"></i> Facturar <small>(F10)</small>
                </button>
                <button type="submit" (click)="openModalDevolucion(mdevolucion)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-primary float-end tcla-F9" style="margin-left: 15px;">
                    <i class="fa fa-money"></i> Devolución <small>(F9)</small>
                </button>
                <button (click)="openModalOrden(morden)" [disabled]="loading || venta?.detalles?.length < 1" class="btn btn-primary float-end tcla-F8">
                    <i class="fa fa-clock-o"></i> Guardar <small>(F8)</small>
                </button>
                <button (click)="limpiar()" class="tcla-Delete" style="opacity: 0;">.</button>
            </div>
        </div>
    </div>

</section>

<ng-template #morden>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Orden</h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onPosponer()">
    <div class="row">
        <div class="col-md-12">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="venta.nombre" focus="true">
        </div>
        <br><br>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-clock-o"></i>
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>        
    </form>
  </div>
</ng-template>

<ng-template #mfacturar>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Facturación</h2>
    </div>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onFacturar()">
        <div class="row text-center">
            <h5 class="col-md-6">Total: <span class="badge badge-primary">{{ venta.total | currency:'USD':'symbol':'1.2' }}</span></h5>
            <h5 class="col-md-6">Vuelto: <span class="badge badge-info" *ngIf="venta.recibido">{{ venta.recibido - venta.total | currency:'USD':'symbol':'1.2' }}</span> <span class="badge badge-info" *ngIf="!venta.recibido">$0.00</span></h5>
            <div class="form-group col-sm-12">
                <label for="recibido">Recibido:</label>
                <input type="number" name="recibido" [(ngModel)]="venta.recibido" placeholder="{{ venta.total | currency:'USD':'symbol':'1.2' }}" class="form-control" focus="true">
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.tipo_documento != 'Devolucion'">
                <label for="metodo_pago">Forma de pago:</label>
                <select name="metodo_pago" [(ngModel)]="venta.metodo_pago" (change)="onSelectForma($event.target.value)" class="form-select" id="metodo_pago">
                    <option value="" disabled>Seleccione o presione la letra</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Credito">Credito</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Contra entrega">Contra entrega</option>
                    <option value="Chivo Wallet">Chivo Wallet</option>
                </select>
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.metodo_pago == 'Credito'">
                <label for="plazo">Plazo de crédito:</label><br>
                <span class="input-group">
                    <input type="number" class="form-control" [(ngModel)]="venta.plazo" name="plazo" id="plazo">
                    <span class="input-group-text">Meses</span>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="tipo_documento">Tipo:</label>
                <select name="tipo_documento" [(ngModel)]="venta.tipo_documento" (change)="onSelectTipo($event.target.value)" class="form-select" id="tipo_documento">
                    <option value="{{documento.nombre}}" *ngFor="let documento of documentos">{{ documento.nombre }}</option>
                </select>
            </div>

            <div class="form-group col-sm-12" *ngIf="venta.metodo_pago == 'Tarjeta' || venta.metodo_pago == 'Cheque' || venta.metodo_pago == 'Contra entrega'">
                <label for="referencia">Referencia:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta.referencia" name="referencia" id="referencia">
            </div>
            <div class="form-group col-sm-12" *ngIf="venta.metodo_pago == 'Tarjeta' || venta.metodo_pago == 'Cheque'">
                <label for="telefono">Teléfono:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta?.cliente.telefono" name="telefono">
            </div>

            <label style="font-size: 16px;"><input style="width: 15px; height: 15px;" type="checkbox" [(ngModel)]="imprimir" name="imprimir"> Imprimir</label>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" id="submit" [disabled]="loading">
                    <span *ngIf="!loading">Cobrar</span>
                    <span *ngIf="loading">Cobrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mdevolucion>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Devolución</h2>
    </div>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onDevolucion()">
        <div class="row text-center">
            <h5 class="col-md-6">Total: <span class="badge badge-primary">{{ venta.total | currency:'USD':'symbol':'1.2' }}</span></h5>
            <h5 class="col-md-6">Vuelto: <span class="badge badge-info" *ngIf="venta.recibido">{{ venta.recibido - venta.total | currency:'USD':'symbol':'1.2' }}</span> <span class="badge badge-info" *ngIf="!venta.recibido">$0.00</span></h5>
            <div class="form-group col-sm-12">
                <label for="recibido">Recibido:</label>
                <input type="number" name="recibido" [(ngModel)]="venta.recibido" placeholder="{{ venta.total | currency:'USD':'symbol':'1.2' }}" class="form-control" focus="true">
            </div>

            <div class="col-sm-12">
                <label for="tipo">* Tipo:</label><br>
                <div class="form-check w-100">
                  <input class="form-check-input" type="radio"  [(ngModel)]="venta.tipo" value="Cambio de producto"  name="tipo" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cambio de producto
                  </label>
                </div>
                <div class="form-check w-100">
                  <input class="form-check-input" type="radio"  [(ngModel)]="venta.tipo" value="Devolución de dinero"  name="tipo" id="flexRadioDefault">
                  <label class="form-check-label" for="flexRadioDefault">
                    Devolución de dinero
                  </label>
                </div>

            </div>

            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label><br>
                <input type="text" class="form-control" [(ngModel)]="venta.nota" name="nota" id="referencia">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" id="submit" [disabled]="loading">
                    <span *ngIf="!loading">Cobrar</span>
                    <span *ngIf="loading">Cobrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mcorte>
  <div class="modal-header">
    <h4 class="modal-title text-center">Configuración de Caja</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <form name="form" (ngSubmit)="guardarCorte()">
            <div class="form-group col-md-12">
                <label for="total">Efectivo con que se inicia:</label>
                <input type="number" [(ngModel)]="corte.saldo_inicial" name="total" class="form-control text-center" focus="true">
            </div>
            <div class="form-group col-md-12">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="corte.fecha" name="fecha" class="form-control text-center">
            </div>
            <div class="col-md-12">
            <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>
