
<div class="card">        
    <div class="card-body">
        <div class="row">
            
            <div class="col-md-4" *ngFor=" let caja of sucursal.cajas">
                    
                <div class="card card-default">
                    <div class="card-body">
                        <div class="text-center col-md-12">
                            <h3 class="no-margin"> {{ caja.nombre }} </h3>
                            <p>{{ caja.descripcion }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                             <div class="col-xs-12">
                                <a (click)="delete(caja.id)" class="btn btn-default" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a routerLink="/admin/caja/{{ caja.id }}" class="btn btn-default" tooltip="Ver opciones de caja">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                             </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                
                <div class="card text-center">
                  <div class="card-body">
                        <a style="display: block; padding: 43px 0px;" href="javascript::void(0)" (click)="openModal(mcaja, {})">
                            <i class="fa fa-cash-register"></i> <br>
                            Nueva caja
                        </a>
                  </div>
                </div>

            </div>

        </div>

    </div>
</div>

<ng-template #mcaja>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Caja</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nombre">* Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="caja.nombre" name="nombre" focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label for="descripcion">Descripción:</label><br>
                <input type="text" class="form-control" [(ngModel)]="caja.descripcion" name="descripcion">
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !caja.nombre">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>