<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Credito <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/creditos">Creditos</a></li>
            <li class="breadcrumb-item active"><a >Credito</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">
            Información
            <button (click)="planDePagos()" class="btn btn-default float-end" tooltip="Imprimir reporte de pagos"><i class="fa fa-print"></i></button>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Interes</th>
                    <th>Plazo</th>
                    <th>Cliente</th>
                    <th>Prima</th>
                    <th>Abono</th>
                    <th>Saldo</th>
                </tr>
                <tr>
                    <td>{{ credito.fecha | date:'d/MM/y' }}</td>
                    <td>{{ credito.total | currency:'USD':'symbol':'2.2' }}</td>
                    <td>{{ credito.interes | number:'1.2-2' }} %</td>
                    <td>{{ credito.plazo }} meses</td>
                    <td>{{ credito.nombre_cliente }}</td>
                    <td>{{ credito.prima | currency:'USD':'symbol':'2.2' }}</td>
                    <td>{{ credito.total_abonos | currency:'USD':'symbol':'2.2' }}</td>
                    <td>{{ credito.saldo | currency:'USD':'symbol':'2.2' }}</td>
                </tr>
            </table>
        </div>    
    </div>

</div>

<app-credito-pagos [credito]="credito" (update)="loadAll()"></app-credito-pagos>
