<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Pagos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/pagos">Pagos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="pagos?.total">
            {{ pagos?.total + ' registros' }}
            <span *ngIf="filtrado">{{ pagos?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" #box (keyup.enter)="search(box.value)">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search(box.value)" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
                <!-- <button routerLink="/pago/nuevo" tooltip="Crear" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button> -->
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Metodo de pago</th>
                        <th class="text-center">Saldo inicial</th>
                        <th class="text-center">Cuota</th>
                        <th class="text-center">Pago</th>
                        <th class="text-center">Interes</th>
                        <th class="text-center">Saldo final</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="pagos?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene pagos registrados</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let pago of pagos?.data">
                        <td>{{ pago.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ pago.credito.nombre_cliente }}</td>
                        <td>{{ pago.metodo_pago }}</td>
                        <td class="text-center">{{ pago.saldo_inicial  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.cuota  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.abono  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.interes  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ pago.saldo_final  | currency:'USD':'symbol':'1.2' }}</td>

                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(pago)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" routerLink="/pago/{{ pago.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="pagos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="pagos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Reservado">Reservado</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Pendiente de Pago">Pendiente de Pago</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select class="form-control form-select" name="categoria" [(ngModel)]="filtro.categoria">
                   <option value="Boda">Boda</option>
                   <option value="Cumpleaños">Cumpleaños</option>
                   <option value="15 años">15 años</option>
                   <option value="Reunión">Reunión</option>
                   <option value="Capacitación">Capacitación</option>
                   <option value="Otro">Otro</option>
                </select>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>