<div class="ml-3 mb-4">
    <div *ngFor="let subcategoria of subcategorias">
        <div class="p-1 pb-2 border">
            <!-- <h5 class="d-inline-block ml-3" contentEditable (blur)="onNameChange(subcategoria, $event.target.innerHTML)"> -->
            <h5 class="d-inline-block ml-3">
                {{ subcategoria.nombre }}
            </h5>
            <a class="btn btn-outline-light btn-sm float-end" (click)="openModal(msubcategoria, subcategoria)"  tooltip="Editar"> <i class="fa fa-pencil-alt"></i> </a>
            <a class="btn btn-outline-light btn-sm float-end" (click)="delete(subcategoria)" tooltip="Eliminar"> <i class="fa fa-trash-alt"></i> </a>
            <span class="text-muted float-end mr-2">{{ subcategoria.total_productos }} productos</span>
        </div>
        <!-- <app-tipos [subcategoria]="subcategoria" [tipos]="subcategoria.tipos"></app-tipos> -->
        </div>
    <div class="p-1 pb-2 border">
        <a class="d-inline-block ml-3" (click)="openModal(msubcategoria, {})" tooltip="Agregar subcategoria">Agregar</a>
    </div>
</div>


<ng-template #msubcategoria>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Subcategoria</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
<!--             <div class="col-12 text-center">
                <figure style="min-height: 100px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                    <i *ngIf="!subcategoria.img && !preview" class="fa fa-image fa-2x text-muted"></i>
                    <img *ngIf="subcategoria.img && !preview" src="{{ apiService.baseUrl + '/img/' + subcategoria.img }}" height="100">
                    <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                    <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                </figure>
            </div>
 -->
            <div class="form-group col-12">
                <label for="subcategoria.nombre">Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="subcategoria.nombre" name="subcategoria.nombre" focus="true" (change)="slug()">
            </div>
            <div class="form-group col-12">
                <label for="subcategoria.descripcion">Descripción</label>
                <input type="text" class="form-control" [(ngModel)]="subcategoria.descripcion" name="subcategoria.descripcion">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mcategorias>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Categoria</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onChangeCategoria()">
        <div class="row text-center">
            <div class="form-group col-md-12">
                <label for="subcategoria_nueva">* Categoria:</label>
                <select [(ngModel)]="cambio.subcategoria_nueva" class="form-control form-select" name="subcategoria_nueva">
                    <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                        <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                      </optgroup>
                </select>
            </div>
        </div>
        <div class="row text-center mt-4">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Cambiar</span>
                    <span *ngIf="loading">Cambiando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>