<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Cuentas por pagar <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cuentas por pagar</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="pagos?.total">{{ pagos?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <a tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></a>
            </div>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th class="d-none d-md-table-cell text-center">Fecha</th>
                        <th>Proveedor</th>
                        <th class="text-center">Ref</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Fecha de pago</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="pagos?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene pagos pendientes</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let compra of pagos?.data">
                        
                        <td class="d-none d-md-table-cell text-center">{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                        <td><a routerLink="/proveedor/{{compra.proveedor_id}}">{{compra.proveedor | truncate:30 }}</a></td>
                        <td class="text-center">{{compra.referencia}}</td>
                        <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Empleado'">
                            <span class="badge" [ngClass]="{'badge-warning' : compra?.estado == 'Pendiente', 'badge-success' : compra?.estado == 'Pagada'}">
                                {{compra.estado}}
                            </span>
                        </td>
                        <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                            <span class="badge badge-pop" [ngClass]="{'badge-warning' : compra?.estado == 'Pendiente', 'badge-success' : compra?.estado == 'Pagada'}" [popover]="popTemplate" [outsideClick]="true">
                                {{compra.estado}}
                            </span>
                            <ng-template #popTemplate>
                                <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pagada')">Pagada</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pendiente')">Pendiente</button>
                            </ng-template>
                        </td>
                        <td  class="text-center">{{compra.fecha_pago | date:'dd-MM-yyyy'}}</td>
                        <td class="text-center">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(compra.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/compra/{{compra.id}}" tooltip="Ver detalle">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
            <!-- <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th class="d-none d-md-table-cell text-center">NIT</th>
                        <th class="d-none d-md-table-cell text-center">NRC</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="pagos?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene pagos registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr class="animated fadeIn" *ngFor=" let proveedor of pagos?.data">
                        
                        <td class="d-none d-md-table-cell">{{proveedor.nombre}}</td>
                        <td class="text-center">{{proveedor.nit}}</td>
                        <td class="d-none d-md-table-cell">{{proveedor.registro}}</td>
                        <td class="text-center">{{proveedor.num_pagos_pendientes}}</td>
                        <td class="text-center">{{proveedor.pago_pendiente | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" routerLink="/proveedor/{{ proveedor.id }}" [queryParams]="{ estado : 'Pendiente' }" tooltip="Pagar">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
    <div class="card-footer" *ngIf="pagos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="pagos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>
