<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Asistencias <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/asistencias">Asistencias</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">

        <div class="card mb-0">
            <div class="card-body text-center">
                <div class="col-12">
                    <h3>Asistencia de empleados</h3>
                    <form name="form" (ngSubmit)="onFiltrar()" class="form-inline justify-content-center mt-3">
                        <div class="form-group">
                            <label for="">Usuarios:</label>
                            <select [(ngModel)]="filtro.usuario_id" class="form-control form-select" name="filtro.usuario_id">
                                <option value="">Todos</option>
                                <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                                    {{ usuario.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group mx-3">
                            <label for="">Del:</label>
                            <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        </div>
                        <div class="form-group mx-3">
                            <label for="">Al:</label>
                            <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loading">
                            <i *ngIf="!loading" class="fa fa-search"></i>
                            <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                        </button>
                        <a tooltip="Reportes" (click)="openReportes(mreportes)" class="btn btn-default tcla-F6"><i class="fa fa-print"></i></a>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th class="text-center">Entrada</th>
                        <th class="text-center">Salida</th>
                        <th class="text-center">Total de horas</th>
                        <!-- <th class="text-center">Horas Extras</th> -->
                        <!-- <th class="text-center">Horas Totales</th> -->
                        <!-- <th class="text-center"><i class="fa fa-cog"></i></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="empleados?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene asistencias registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let empleado of empleados?.data">
                        <td>{{ empleado.created_at | date:'dd/M/yyyy' }}</td>
                        <td>{{ empleado.nombre_empleado }}</td>
                        <td class="text-center">{{ empleado.entrada | date:'hh:mm:ss a' }}</td>
                        <td class="text-center">{{ empleado.salida | date:'hh:mm:ss a' }}</td>
                        <td class="text-center">{{ empleado.horas_laborales }}</td>
                        <!-- <td class="text-center">{{ empleado.horas_extras }}</td> -->
                        <!-- <td class="text-center">{{ empleado.horas_laborales + empleado.horas_extras }}</td> -->
                        <!-- <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(empleados.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="">Usuarios:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Fecha:</label>
                <input type='date' class="form-control" name="filtro.fecha" [(ngModel)]="filtro.fecha"/>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mreportes>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Reportes</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="col">
                <!-- <a href="{{ apiService.baseUrl }}/reportes/empleados/faltas" target="_blank" class="btn btn-default btn-block">Resporte de faltas y atrasos</a> -->
                <a (click)="asistenciaDiaria()" target="_blank" class="btn btn-default btn-block">Asistencia diaria</a>
                <a (click)="asistenciaMensual()" target="_blank" class="btn btn-default btn-block">Asistencia mensual</a>
            </div>
        </div>
  </div>
</ng-template>
