<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Caja chica <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/cajas-chicas">Cajas chicas</a></li>
            <li class="breadcrumb-item active"><a >Caja chica</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Información
            <button (click)="reporteMovimientos()" class="btn btn-default float-end" tooltip="Imprimir reporte de movimientos"><i class="fa fa-print"></i></button>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Creada</th>
                    <th>Sucursal</th>
                    <th>Responsable</th>
                    <th>Descripción</th>
                    <th>Entradas</th>
                    <th>Salidas</th>
                    <th>Saldo</th>
                </tr>
                <tr>
                    <td>{{ cajachica.created_at | date:'d/MM/y' }}</td>
                    <td>{{ cajachica.nombre_sucursal }}</td>
                    <td>{{ cajachica.nombre_usuario }}</td>
                    <td>{{ cajachica.descripcion }}</td>
                    <td>{{ cajachica.entradas | currency:'USD':'symbol':'2.2' }}</td>
                    <td>{{ cajachica.salidas | currency:'USD':'symbol':'2.2' }}</td>
                    <td>{{ cajachica.saldo | currency:'USD':'symbol':'2.2' }}</td>
                </tr>
            </table>
        </div>    
    </div>

</div>

<app-caja-chica-detalles [cajachica]="cajachica" (update)="loadAll()"></app-caja-chica-detalles>
