<div class="card">
    <div class="card-body">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Correlativo Actual</th>
                    <th class="text-center">Correlativo Inicial</th>
                    <th class="text-center">Correlativo Final</th>
                    <th class="text-center"><a (click)="openModal(mdocumento, {})" class="btn btn-primary" tooltip="Agregar"><i class="fa fa-plus"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9" class="text-center" *ngIf="caja?.documentos < 1 && !loading">
                        <span class="label label-info">No tiene documentos registrados</span>
                    </td>
                    <td colspan="9" class="text-center" *ngIf="loading">
                        <span class="label label-info">Cargando...</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let documento of caja?.documentos">
                    <td>{{ documento.nombre }}</td>
                    <td class="text-center">{{ documento.actual }}</td>
                    <td class="text-center">{{ documento.inicial }}</td>
                    <td class="text-center">{{ documento.final }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a (click)="delete(documento.id)" class="btn btn-default" tooltip="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a (click)="openModal(mdocumento, documento)" class="btn btn-default" tooltip="Editar">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </div>  
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #mdocumento>
  <div class="modal-header">
    <h3 class="modal-title text-center">Correlativo: {{ documento.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="form-group col-sm-6">
                <label for="nombre">Nombre:</label><br>
                <input type="text" class="form-control" [(ngModel)]="documento.nombre" name="nombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="actual">Actual:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.actual" name="actual" focus="true">
            </div>
            <div class="form-group col-sm-6">
                <label for="inicial">Inicial:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.inicial" name="inicial">
            </div>
            <div class="form-group col-sm-6">
                <label for="final">Último:</label><br>
                <input type="number" class="text-center form-control" [(ngModel)]="documento.final" name="final">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>