
<label for="cantidad" class="mr-1">Producto:</label>
<form autocomplete="off" class="buscador">
    <input id="producto" type="text" name="producto.nombre" class="form-control" placeholder="Nombre o código" [(ngModel)]="producto.nombre" focus="true" id="example">
    <ul class="list-group info">
      <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
      <a href="javascript:void(0);" class="list-group-item text-warning" *ngIf="!searching && productos?.data?.length == 0"> Ningun registro encontrado </a>
    </ul>
    <ul class="list-group opciones" *ngIf="productos?.total > 0">
      <a href="javascript:void(0);" class="list-group-item" (click)="productoSelect(producto)" *ngFor=" let producto of productos?.data">
        {{producto.nombre}} 

        <small *ngIf="producto.componente">- {{ producto.componente }}</small>
        <small *ngIf="producto.nombre">- {{ producto.nombre  }}</small>
        <small *ngIf="producto.componente">- {{ producto.componente  }}</small>
        <small *ngIf="producto.marca">- {{ producto.marca  }}</small>
        <small *ngIf="producto.fabricante">- {{ producto.fabricante  }}</small>
      </a>
    </ul>
</form>
