<!-- <form name="form" class="form-inline mr-top"> -->
    <label for="paciente">Paciente: </label>
    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="paciente.nombre" name="paciente" placeholder="Nombre" (focus)="openModal(mpaciente)">
        <button (click)="openModal(mpaciente)" class="btn btn-default tcla-F6" tooltip="Crear">
            <i class="fa fa-search"></i> <small> (F6)</small>
        </button>
      <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
    </div>
<!-- </form> -->

<ng-template #mpaciente>
<form autocomplete="off" (ngSubmit)="onSubmit(paciente)">
  <div class="modal-header text-center">
    <h3 class="modal-title">Paciente</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="row">
            
            <div class="form-group col-sm-12">
                <label for="nombre" class="w-100">* Nombre: <small class="text-warning float-right" *ngIf="!searching && pacientes?.data?.length == 0"> Ninguna coincidencia </small></label>
                <div class="buscador">
                    <input id="paciente" type="text" name="paciente.nombre" class="form-control" placeholder="Nombre, registro, etc..." [(ngModel)]="paciente.nombre" focus="true" id="example" (blur)="clear()">
                    <ul class="list-group info">
                      <a href="javascript:void(0);" class="list-group-item text-primary" *ngIf="searching"> Buscando... </a>
                    </ul>
                    <ul class="list-group opciones" *ngIf="pacientes?.total > 0">
                      <a href="javascript:void(0);" class="list-group-item" (click)="selectPaciente(paciente)" *ngFor=" let paciente of pacientes?.data">
                        {{paciente.nombre}} <small *ngIf="paciente.registro"> - {{paciente.registro}}</small>
                      </a>
                    </ul>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                <input type="date" class="form-control" [(ngModel)]="paciente.fecha_nacimiento" name="fecha_nacimiento">
            </div>

            <div class="form-group col-sm-6">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" [(ngModel)]="paciente.telefono" [dropSpecialCharacters]="false" name="telefono" mask='0000-0000' placeholder="0000-0000">
            </div>
            <div class="form-group col-sm-6">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" [(ngModel)]="paciente.municipio" name="municipio" placeholder="Municipio">
            </div>
            <div class="form-group col-sm-6">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" [(ngModel)]="paciente.departamento" name="departamento" placeholder="Departamento">
            </div>
            <div class="form-group col-sm-12">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="paciente.direccion" name="direccion" placeholder="Dirección">
            </div>
            <div class="form-group col-sm-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="paciente.nota" name="nota" placeholder="Nota sobre el paciente">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!paciente.nombre" > Agregar </button>
    </div>
</form>
</ng-template>