<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Caja <small class="text-muted p-2"> Configuración</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Caja</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
<div class="card-body">
    
    <div class="row" *ngIf="loading && !caja.id">
      <p class="text-center mr-top">Cargando...</p>
    </div>

    <div class="row" *ngIf="!loading || caja.id">
        <h4 class="text-center mb-3">Caja: {{ caja.nombre }}</h4>
        
        <span class="dropdown-divider my-3"></span>
        <tabset #staticTabs type="pills" [justified]="true">
            <tab class="pt-3">
                <ng-template tabHeading>
                    <i class="fa fa-info-circle"></i> Información
                </ng-template>

                <div class="card">
                    <div class="card-body">
                        <form name="form" class="d-flex flex-wrap" (ngSubmit)="onSubmitCaja()" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                            <div class="form-group col-md-3">
                                  <label for="nombre">* Nombre:</label>
                                  <input type="text" class="form-control" [(ngModel)]="caja.nombre" name="nombre" placeholder="Nombre" required focus="true">
                              </div>
                              <div class="form-group col-md-3">
                                  <label for="sucursal_id">* Sucursal:</label>
                                  <select [(ngModel)]="caja.sucursal_id" class="form-control form-select" name="sucursal_id">
                                      <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                                          {{ sucursal.nombre }}
                                      </option>
                                  </select>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="descripcion">Descripción:</label>
                                  <input type="email" class="form-control" [(ngModel)]="caja.descripcion" name="descripcion" placeholder="Descripción">
                              </div>
                              <div class="col-md-12 mt-4">
                                <button [disabled]="loading" class="btn btn-primary float-end">
                                    <span *ngIf="!loading">Guardar</span>
                                    <span *ngIf="loading">Guardando...</span>
                                </button>
                              </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab class="pt-3">
                <ng-template tabHeading>
                    <i class="fa fa-receipt"></i> Documentos
                </ng-template>
                <app-caja-documentos [caja]="caja"></app-caja-documentos>
            </tab>
            <!-- <tab class="pt-3">
                <ng-template tabHeading>
                    <i class="fa fa-users"></i> Usuarios
                </ng-template>
                <app-caja-usuarios [caja]="caja"></app-caja-usuarios>
            </tab> -->
            <tab class="pt-3">
                <ng-template tabHeading>
                    <i class="fa fa-file-invoice-dollar"></i> Historial de Cortes
                </ng-template>
                <app-caja-cortes></app-caja-cortes>
            </tab>
        </tabset>
    </div>

</div>

</div>