/*Scrool Chrome*/

/* width */
::-webkit-scrollbar {width: 5px; }
/* Track */
::-webkit-scrollbar-track {background: #f1f1f1; }

/* Handle */ ::-webkit-scrollbar-thumb {background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555; }


body {
/*  background-color: #fafbfe;*/
  background-color: #f1f1f1;
  min-height: 100vh;
}

caption{
    caption-side:top;
}

#categorias .border{
    border-left: 2px solid #717bf3 !important;
}

#categorias .border:last-child{
    border-left: 2px solid #e3eaef  !important;
}

.card.mb-0.border-primary{
    border: 1px solid #727cf5 !important;
}

.btn-option{
  position: absolute; right: 0px; top: 0px;
}

/* Header  */
    .header-right .dropdown-toggle::before, .header-right .dropdown-toggle::after {
      display: none !important;
    }

    .dropdown-menu-center {
        left: 50% !important;
        right: auto !important;
        transform: translate(-50%, 0) !important;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-item > a.show, .nav-item > a.show:focus, .nav-item > a.show:hover {
        color: #fff !important;
        background-color: var(--primary);
    }

    .dropdown-menu[data-bs-popper] {
        margin-top: -1px; 
    }

    .header-right .dropdown-menu[data-bs-popper] {
        margin-top: 0px;
        left: -252px;
        width: 300px; 
    }

    .dropdown-menu {
        border-radius: 0px 0px .25rem .25rem;
    }

    .navbar .navbar-toggler {
        margin: 7px;
    }

    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu a::after {
      transform: rotate(-90deg);
      position: absolute;
      right: 6px;
      top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-left: .1rem;
      margin-right: .1rem;
    }


/* Login */

    #login-box h2{
        color: #666 !important;
    }
    .has-feedback {
      position: relative;
    }
    .form-control-feedback {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: block;
      width: 34px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      pointer-events: none;
    }
    .form-group.has-error .form-control {
        border-color: #dd4b39;
        box-shadow: none;
    }


/*Buscador*/
    .buscador>ul.list-group.info{
        width: 100%;
        padding-right: 30px;
        position: absolute;
        z-index: 2000;
        top: 69px;
    }
    .buscador>ul.list-group.info > a{
        border-radius: 0px !important;
    }

    .buscador>ul.list-group.opciones{
        width: calc(100% - 30px);
        position: absolute;
        z-index: 1000;
        height: 300px;
        top: 69px;
        overflow-y: auto;
    }

    .buscador>ul.list-group.opciones > a:first-child{
        border-radius: 0px !important;
    }


.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}   

.form-control, .btn{
    border-radius: 0px !important;
    outline: 0 none !important;
    box-shadow: none !important;
}

.progress{
    height: 1rem;
    position: relative;
}
.progress span{
    color: #000;
    position: absolute;
    left: calc(-15px + 50%);
}

.btn:focus, .btn.focus {
    box-shadow: none !important;
}

.btn{
  border-radius: 0px;
}
.btn-default {
    background-color: #f4f4f4;
    border-color: #ddd;
}


.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }



.tag-wrapper .tag__text .inline {
    height: 30px;
    line-height: 30px;
}

.ng2-tag-input{
    border: 1px solid #e3eaef;
    padding: 0px !important; 
    height: 38px;
}

.bootstrap.ng2-tag-input.ng2-tag-input--focused{
    border-bottom: 1px solid #e3eaef !important;
}

.ng2-tag-input__text-input{
    background-color: transparent !important;
}

.bootstrap.ng2-tag-input{
    border-bottom: 1px solid #e3eaef !important;
}


.form-check{
    display: block;
    width: 34px;
    height: 34px;
    margin: 0px !important;
    cursor: pointer;
}


.tab-content-default > ul.nav{
    justify-content: end !important;
}


.table-borderless thead{
    border-bottom: 1px solid #efefef;
}

.click{
    cursor: pointer;
}

.input-group-text{
  border: 1px solid #e3eaef;
}

.file-upload { overflow: hidden; position: relative; text-align: center; cursor: pointer; }
.file-upload:hover{ opacity: .5; }
.file-upload > input {top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; height: 100%; position: absolute; cursor: pointer; opacity: 0; }


@media screen and (max-width: 991px){

    .navbar-nav{
        padding-left: 30px;

    }
    .nav-item > a.show, .nav-item > a.show:focus, .nav-item > a.show:hover{
        color: rgba(0,0,0,.55) !important;
        background-color: #fff !important;
    }

    .navbar-nav .dropdown-menu{
        border: 0px solid rgba(0,0,0,.15) !important;
    }

    .navbar-nav .dropdown-divider {
        border-top: 0px solid #e9ecef !important;
        height: 0px !important;
    }

}
