<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Servicio <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/servicios">Servicios</a></li>
            <li class="breadcrumb-item active"><a >Servicio</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="loading">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row">   
            <h3 class="text-center mb-2">{{ producto.nombre }}</h3>
            <div class="col-md-12">
                <tabset type="pills" [justified]="true">
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-info-circle"></i> Información
                        </ng-template>
                        <div class="card">
                            <div class="card-body">
                                <form name="form" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="form-group col-md-5">
                                            <label for="nombre">* Nombre:</label>
                                            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="categoria_id">* Categoria:</label>
                                            <select [(ngModel)]="producto.categoria_id" class="form-control form-select" name="categoria_id">
                                                <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                                                    <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                                                  </optgroup>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="costo">* Costo:</label>
                                            <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precio">* Precio:</label>
                                            <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precio2">Precio 2:</label>
                                            <input type="number" class="form-control" [(ngModel)]="producto.precio2" name="precio2" placeholder="$0.00">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precio3">Precio 3:</label>
                                            <input type="number" class="form-control" [(ngModel)]="producto.precio3" name="precio3" placeholder="$0.00">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precio4">Precio 4:</label>
                                            <input type="number" class="form-control" [(ngModel)]="producto.precio4" name="precio4" placeholder="$0.00">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Es un servicio compuesto </label>
                                            <input type="checkbox" class="form-check" [(ngModel)]="producto.compuesto" name="compuesto" (change)="onSubmit()">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="nota">Nota:</label>
                                            <textarea class="form-control" [(ngModel)]="producto.nota" name="nota" placeholder="Nota" cols="30" rows="2"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                                                <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                                                <span *ngIf="loading">Guardando...</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tab>
                   <!--  <tab class="pt-3" [disabled]="!producto.inventario">
                        <ng-template tabHeading>
                            <i class="fa fa-inbox"></i> Inventario
                        </ng-template>
                        <div class="card">
                            <div class="card-body">
                                <app-producto-inventarios [producto]='producto'></app-producto-inventarios>
                            </div>
                        </div>
                    </tab> -->
                    <tab class="pt-3" [disabled]="!producto.compuesto">
                        <ng-template tabHeading>
                            <i class="fa fa-object-group"></i> Composición
                        </ng-template>
                        <div class="card">
                            <div class="card-body">
                                <app-producto-composicion  [producto]='producto'></app-producto-composicion>
                            </div>
                        </div>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-history"></i> Historial
                        </ng-template>
                        <div class="card">
                            <div class="card-body">

                                <tabset #staticTabs>
                                    <tab class="pt-4" heading="Ventas">
                                        <app-producto-ventas></app-producto-ventas>
                                    </tab>
                                </tabset>

                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>