<div class="table-responsive" style="min-height: 370px;">
    <table class="table table-borderless mb-0">
        <thead>
            <tr>
                <th class="d-none d-md-table-cell text-center"><i class="fa fa-cog"></i></th>
                <!-- <th>Img</th> -->
                <th>Producto</th>
                <th class="text-center d-none d-md-table-cell">Costo</th>
                <th class="text-center d-none d-md-table-cell">Descuento</th>
                <th class="text-center d-none d-md-table-cell">Cantidad</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <td colspan="8" class="text-center" *ngIf="compra.detalles?.length < 1 && !loading">
                <span class="label label-info">No tiene productos agregados</span>
            </td>
            <td colspan="8" class="text-center" *ngIf="loading">
                <span class="label label-info">Cargando...</span>
            </td>
            <tr *ngFor="let detalle of compra.detalles">
                <td style="width: 100px;" class="text-center" >
                    <a class="btn btn-danger" (click)="eliminarDetalle(detalle)"><i class="fa fa-minus"></i>
                    </a>
                    <a class="btn btn-default" (click)="editarDetalle(mproducto, detalle)"><i class="fa fa-pencil-alt"></i>
                    </a>
                </td>
                <!-- <td><img src="{{ apiService.baseUrl + '/img/' + detalle.img }}" width="50px"></td> -->
                <td> {{ detalle.nombre_producto }} </td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.costo | currency:'USD':'symbol':'1.2' }}</td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.cantidad }}</td>
                <td class="text-center">{{ detalle.subtotal | currency:'USD':'symbol':'1.2' }}</td>
            </tr>
        </tbody>
        <tfoot *ngIf="compra?.detalles?.length > 0" class="table-condenced">
            <tr>
                <td colspan="5" class="text-right"> Descuento: </td>
                <td><input type="number" class="form-control text-center" [(ngModel)]="compra.descuento" (change)="sumTotalEmit()"> </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right"> Sub Total: </td>
                <td class="text-center"> {{ compra.subtotal | currency:'USD':symbol:'1.2'}} </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right"> IVA: </td>
                <td class="text-center"> {{ compra.iva | currency:'USD':symbol:'1.2'}} </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">
                   <input type="checkbox" (change)="sumTotalEmit()" [(ngModel)]="compra.retencion" name="compra.retencion" *ngIf="!loading && !compra.id">
                    Percepción (1%):
                </td>
                <td class="text-center" width="100">
                   <input class="form-control text-center" type="number" [(ngModel)]="compra.iva_retenido" name="compra.iva_retenido" *ngIf="!loading && !compra.id">
                    <span *ngIf="!loading && compra.id">{{ (compra.iva_retenido ) | currency:'USD':symbol:'1.2'}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right"> <b>Total:</b> </td>
                <td class="text-center"><b> {{ compra.total | currency:'USD':symbol:'1.2'}}</b> </td>
            </tr>
        </tfoot>
    </table>
</div>

<ng-template #mproducto>
<form name="producto" autocomplete="off" (ngSubmit)="guardarDetalle()">
  <div class="modal-header text-center">
    <h3 class="modal-title">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="cantidad">Cantidad:</label>
                <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalleModificado.cantidad" (change)="calcular()" focus="true">
            </div>
            <div class="form-group col-md-4">
                <label for="costo">Costo:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.costo" name="costo" (change)="calcular()">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="descuento">Descuento:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.descuento" name="descuento" (change)="calcular()">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="iva">IVA:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.iva" name="iva">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="subtotal">Sub Total</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.subtotal" name="subtotal" (change)="calcularCosto()">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="total">Total</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.total" name="total" (change)="calcular()">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!detalleModificado.producto_id || !detalleModificado.cantidad || !detalleModificado.costo" class="btn btn-primary float-end"> Agregar </button>
    </div>
</form>
</ng-template>