<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Empleados <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/empleados">Empleados</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="empleados?.total">
            {{ empleados?.total + ' registros' }}
            Total: {{ empleados.data | sum:'salario' | currency:'USD':'symbol':'1.2' }}
        </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" #box (keyup.enter)="search(box.value)">
            <div class="input-group-btn">
                <button tooltip="Buscar" (click)="search(box.value)" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
                <button routerLink="/admin/usuarios" tooltip="Agregar empleado" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th>DUI</th>
                        <th>Cargo</th>
                        <th>Teléfono</th>
                        <th class="text-center">Activo</th>
                        <th class="text-center">Salario</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="empleados?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene empleados registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr *ngFor=" let empleado of empleados.data">
                        
                        <td class="text-center">{{empleado.id}}</td>
                        <td>{{empleado.name}}</td>
                        <td>{{empleado.dui}}</td>
                        <td>{{empleado.tipo}}</td>
                        <td>{{empleado.telefono}}</td>
                        <td class="text-center" *ngIf="apiService.auth_user().tipo == 'Administrador'">
                            <input type="checkbox" [(ngModel)]="empleado.activo" (change)="setEstado(empleado)">
                        </td>
                        <td class="text-center"> {{ empleado.salario | currency:'USD':'symbol':'1.2'}} </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a *ngIf="empleado.id != 1" class="btn btn-default" (click)="delete(empleado.id)" data-toggle="tooltip" title="Eliminar">
                                <i class="fa fa-trash"></i></a>
                                <a class="btn btn-default" routerLink="/empleado/{{ empleado.id }}" data-toggle="tooltip" title="Editar">
                                <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
         </div>
    </div>
    <div class="card-footer" *ngIf="empleados?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="empleados" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.tipo">Cargo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control form-select" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Mesero">Mesero</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Cocinero">Cocinero</option>
                    <option value="Supervisor">Supervisor</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
