<h3 class="modal-title text-center no-print">Estado de cuenta</h3>
<div class="row col-xs-12 no-print" style="height: 45px;">
    <span class="label label-default" *ngIf="ventas?.total">Ventas: {{ventas?.total}}</span>
    <div class="input-group-btn" style="position: absolute;right: 355px;top: 0px;">
        <form (ngSubmit)="onFiltrar()" class="form-inline">        
            <select class="form-control" name="filtro.estado" [(ngModel)]="filtro.estado">
                <option value="" disabled>Estado</option>
                <option value="">Todos</option>
                <option value="Cobrada">Cobradas</option>
                <option value="Anulada">Anuladas</option>
                <option value="Pendiente">Pendientes</option>
            </select>
            <select class="form-control" name="filtro.forma_de_pago" [(ngModel)]="filtro.forma_de_pago">
                <option value="" disabled>Forma de pago</option>
                <option value="">Todos</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Vale">Vale</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Cheque">Cheque</option>
                <option value="Versatec">Versatec</option>
            </select>
            <button type="submit" class="btn btn-default" tooltip="Filtrar"> <i class="fa fa-filter"></i> </button>
            <button type="button" (click)="loadAll()" class="btn btn-default tcla-F5" tooltip="Actualizar"><i class="fa fa-sync-alt"></i></button>
            <button type="button" (click)="openModal(mcuenta)" class="btn btn-default" tooltip="Imprimir estado de cuenta"><i class="fa fa-list"></i></button>
        </form>
    </div>
</div>
<p class="row" *ngIf="ventas?.total > 0" style="margin-bottom: 15px;">
    <span class="col-xs-4"><b>Cliente:</b> {{ ventas?.data[0]?.cliente }}</span>
    <span class="col-xs-2"><b>Fecha:</b> {{ filtro.fecha | date:'dd/MM/yyyy' }}</span>
    <span class="col-xs-3"><b>N° registros:</b> {{ ventas.total }}</span>
    <span class="col-xs-3"><b>Saldo Pendiente:</b> {{ ventas?.data | filter:'estado':'pendiente' | sum:'total' | currency:'USD':'symbol':'1.2'}}</span>
</p>
<div class="no-padding" style="clear: both;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Referencia</th>
                <th class="text-center">Estado</th>
                <th>Forma de pago</th>
                <th class="text-center">Total</th>
                <th class="text-center no-print"><i class="fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                    <span class="label label-info">No tiene ventas registradas</span>
                </td>
                <td colspan="8" class="text-center" *ngIf="loading">
                    <span class="label label-info">Cargando...</span>
                </td>
            </tr>

            <tr *ngFor=" let venta of ventas?.data">
                
                <td>{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                <td>{{venta.referencia}}</td>
                <td class="text-center"> {{venta.estado}} </td>
                <td>{{venta.forma_de_pago}}</td>
                <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                <td class="text-center no-print">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-action"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a (click)="setEstado(venta, 'Cobrada')">Marcar como cobrada</a></li>
                            <li><a (click)="setEstado(venta, 'Pendiente')">Marcar como pendiente</a></li>
                            <li><a (click)="setEstado(venta, 'Anulada')">Marcar como anulada</a></li>
                        </ul>
                        <a class="btn btn-default" routerLink="/venta/{{ venta.id }}" tooltip="Ver venta">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        <a class="btn btn-default" (click)="delete(venta.id)" tooltip="Ocultar la venta">
                            <i class="fa fa-eye-slash"></i>
                        </a>
                    </div>  
                </td>

            </tr>
        </tbody>                        
    </table>
    <div class="text-center" *ngIf="ventas?.last_page > 1">
        <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
    </div>
</div>
<ng-template #mcuenta>
  <div class="modal-header">
    <h3 class="modal-title text-center">Estado de cuenta</h3>
    <div class="row text-center no-print">
        <br><br><br>
        <div class="col-xs-12">
            <button (click)="cobrarTodo()" class="btn btn-lg btn-default btn-block"> Marcar pendientes como cobrados </button>
            <button (click)="imprimir()" class="btn btn-lg btn-default btn-block"> Imprimir estado de cuenta </button>
            <button (click)="imprimirCobrar()" class="btn btn-lg btn-default btn-block"> Marcar como cobrado e Imprimir </button>
        </div>
    </div>
    <button type="button" class="close pull-right no-print" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>