<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Paciente <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/pacientes">Pacientes</a></li>
            <li class="breadcrumb-item"><a>Paciente</a></li>
        </ol>
    </div>
</div>
<div *ngIf="!paciente" class="row"> <p class="col-md-12 text-center text-muted mt-5">Cargando...</p> </div>

<!-- <div class="card mb-3" *ngIf="paciente.id">
    <div class="card-body">
    <div class="row">
        <h5 class="col-12 pb-2 mb-2">Datos</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Fecha de registro:</label>
            <p>{{ paciente.created_at | date:'d/M/y hh:mm:ss a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Última actualización:</label>
            <p>{{ paciente.updated_at  | date:'d/M/y hh:mm:ss a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Número de consultas:</label>
            <p>{{ paciente.num_consultas }}</p>
        </div>
    </div>

    </div>
</div> -->

<form (ngSubmit)="submit()">
<div class="card mb-3">
    <div class="card-body">
        
        <div class="row">
            <h5 class="col-12 pb-2 mb-2">
                Información
                <a (click)="expediente()" class="btn btn-default float-end" tooltip="Expediente"><i class="fa fa-print"></i></a>
            </h5>
            <div class="form-group col-lg-12">
                <figure style="min-height: 150px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                    <i *ngIf="!paciente.img && !preview" class="fa fa-image fa-2x text-muted"></i>
                    <img *ngIf="paciente.img && !preview" src="{{ apiService.baseUrl + '/img/' + paciente.img }}" height="100">
                    <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                    <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                </figure>
            </div>
            <div class="form-group col-lg-6">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="paciente.nombre">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="sexo">Sexo:</label>
                <select class="form-control form-select" name="sexo" [(ngModel)]="paciente.sexo">
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="estado_civil">Estado civil:</label>
                <select class="form-control form-select" name="estado_civil" [(ngModel)]="paciente.estado_civil">
                    <option value="Casado">Casado</option>
                    <option value="Soltero">Soltero</option>
                </select>
            </div>
            <div class="form-group col-6 col-lg-4">
                <label for="fecha_nacimiento">Fecha nacimiento:</label>
                <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="paciente.fecha_nacimiento">
            </div>
            <div class="form-group col-6 col-lg-4">
                <label for="dui">DUI:</label>
                <input type="text" class="form-control" name="dui" [(ngModel)]="paciente.dui">
            </div>
            <div class="form-group col-6 col-lg-4">
                <label for="profesion">Profesión:</label>
                <input type="text" class="form-control" name="profesion" [(ngModel)]="paciente.profesion">
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <h5 class="col-12 pb-2 my-3">Contactos</h5>
            <div class="form-group col-6 col-lg-3">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="paciente.telefono">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="correo">Correo:</label>
                <input type="email" class="form-control" name="correo" [(ngModel)]="paciente.correo">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" name="municipio" [(ngModel)]="paciente.municipio">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" name="departamento" [(ngModel)]="paciente.departamento">
            </div>
            <div class="form-group col-6 col-lg-6">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" name="direccion" [(ngModel)]="paciente.direccion">
            </div>

        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <h5 class="col-12 pb-2 my-3">Otros</h5>
            <div class="form-group col-6 col-lg-3">
                <label for="citologia">Citología:</label>
                <input type="text" class="form-control" name="citologia" [(ngModel)]="paciente.citologia">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="responsable">Responsable:</label>
                <input type="text" class="form-control" name="responsable" [(ngModel)]="paciente.responsable">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="madre">Madre:</label>
                <input type="text" class="form-control" name="madre" [(ngModel)]="paciente.madre">
            </div>
            <div class="form-group col-6 col-lg-3">
                <label for="padre">Padre:</label>
                <input type="text" class="form-control" name="padre" [(ngModel)]="paciente.padre">
            </div>
            <div class="form-group col-6 col-lg-6">
                <label for="alergias">Alergias:</label>
                <input type="text" class="form-control" name="alergias" [(ngModel)]="paciente.alergias">
            </div>
            <div class="form-group col-lg-6">
                <label for="etiquetas">Etiquetas:</label>
                <tag-input theme='bootstrap' [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="paciente.etiquetas" name="etiquetas"></tag-input>
            </div>
            <div class="form-group col-lg-6">
                <label for="antecedentes">Antecedentes:</label>
                <input type="text" class="form-control" name="antecedentes" [(ngModel)]="paciente.antecedentes">
            </div>
            <div class="form-group col-lg-6">
                <label for="medicacion_actual">Medicación actual:</label>
                <input type="text" class="form-control" name="medicacion_actual" [(ngModel)]="paciente.medicacion_actual">
            </div>
            <div class="form-group col-lg-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" name="nota" [(ngModel)]="paciente.nota">
            </div>
            
            
            <div class="form-group col-md-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary float-right tcla-F4">
                    <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </div>
</div>

</form>



