<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Sucursales <small class="text-muted p-2"> Lista</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Sucursales</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="loading">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="!loading">
            <div class="col-md-4" *ngFor="let sucursal of sucursales">
                <div class="card">
                    <div class="card-header">
                        <h3> {{ sucursal.nombre }} </h3>
                    </div>
                    <div class="card-body">
                        {{ sucursal.municipio }}, {{ sucursal.departamento }}
                    </div>
                    <div class="card-footer">
                        <div role="group" class="btn-group">
                            <a tooltip="Eliminar" *ngIf="sucursal.id != 1" class="btn btn-default" (click)="delete(sucursal.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a tooltip="Editar" class="btn btn-default" routerLink="/admin/sucursal/{{ sucursal.id }}" >
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a class="click" (click)="openModal(msucursal, {})">
                    <div class="card py-3">
                        <div class="card-body text-center py-5">
                            <i class="fa fa-building fa-2x"></i>
                            <p>Agregar</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<ng-template #msucursal>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Sucursal</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="">Nombre *:</label>
                <input type='text' class="form-control" name="sucursal.nombre" [(ngModel)]="sucursal.nombre" focus="true"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Municipio:</label>
                <input type='text' class="form-control" name="sucursal.municipio" [(ngModel)]="sucursal.municipio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Departamento:</label>
                <input type='text' class="form-control" name="sucursal.departamento" [(ngModel)]="sucursal.departamento"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Telefono:</label>
                <input type='tel' class="form-control" name="sucursal.telefono" [(ngModel)]="sucursal.telefono"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Correo:</label>
                <input type='email' class="form-control" name="sucursal.correo" [(ngModel)]="sucursal.correo"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Dirección:</label>
                <textarea name="direccion" class="form-control" [(ngModel)]="sucursal.direccion" cols="30" rows="3"></textarea>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading || !sucursal.nombre" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
