<form name="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-5">
            <label for="nombre">* Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
        </div>
        <div class="form-group col-md-3">
            <label for="categoria_id">* Categoria:</label>
            <select [(ngModel)]="producto.categoria_id" class="form-control form-select" name="categoria_id">
                <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                    <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                  </optgroup>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="medida">Medida:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.medida" name="medida" placeholder="Unidad, Lb, Cm etc." required>
        </div>
        <div class="form-group col-md-2">
            <label for="costo">* Costo:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-12">
            <label for="nota">Nota:</label>
            <textarea class="form-control" [(ngModel)]="producto.nota" name="nota" placeholder="Nota" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group col-md-12">
            <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
</form>
